@font-face{
    font-family: "ComicaBD";
    src: url("fonts/ComicaBD.ttf");
}
@font-face{
    font-family: "ComicaBDBold";
    src: url("fonts/ComicaBDBold.ttf");
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width:100%;
    height:100%;
}
header{
    height:15%;
    background: rgba(46, 96, 87, 0.8);
    border: 3px solid rgba(46, 96, 87, 0.8);
    border-radius: 30px;
    padding: 1em;
    margin: 1em 1em 0 1em;
}
h1{
    font-family: "ComicaBDBold";
    font-size: 4em;
    color: #FFC933;
    text-shadow: 2px -2px 2px rgba(161, 41, 24, 0.9);
}
nav{
    display: flex;
    justify-content: space-between;
}
main{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.banner{
    margin-left: 15%;
    width: 30%;
    z-index:1;
}
.explore{
    margin-left: 22%;
}
.bulb{
    width: 6%;
    position: absolute;
    left:1.5em;
    top:15%;
    z-index:-1;
}
.bookcase{
    width:65%;
    z-index:-1;
}
.desk{
    width: 25%;
    z-index:-1;

}
